Company:
OpenAI
◆
Difficulty:
Medium
◆
[Question Link](https://www.interviewmaster.ai/question/chatgpt-user-engagement-and-query-patterns)

As a Product Analyst on the ChatGPT team, you are tasked with understanding user engagement patterns across different knowledge domains. Your team is particularly interested in identifying the proportion of queries related to technology and science, understanding monthly query volumes, and recognizing the most active users. The insights gained will help tailor user experience and prioritize outreach to highly engaged users.

**Tables**

**fct_queries** (query_id, user_id, query_text, query_domain, query_timestamp)

**dim_users** (user_id, first_name, last_name)

**Question 1 of 3**

What percentage of user queries in July 2024 were related to either 'technology' or 'science' domains?

In [ ]:
#This question wanna know percentage of query in
#field name 'tech' or 'science' in july 2024
SELECT (total_query_in_want_field*100)/total_query AS percentage
FROM(
  SELECT COUNT(CASE
          WHEN query_domain IN ('technology', 'science') THEN 1 END) AS total_query_in_want_field,
    COUNT(query_domain) AS total_query
  FROM fct_queries
  WHERE (query_timestamp::date
    BETWEEN '2024-07-01' AND '2024-07-31')
  );

**Question 2 of 3**

Calculate the total number of queries per month in Q3 2024. Which month had the highest number of queries?

In [ ]:
#This question wanna know total_query per month
#in (Q3/2024) and find highest(LIMIT)
SELECT TO_CHAR(query_timestamp, 'Month') AS month_Q3,
  COUNT(query_id) AS total_query_per_month
FROM fct_queries
WHERE query_timestamp::DATE
  BETWEEN '2024-07-01' AND '2024-09-30'
GROUP BY 1
ORDER BY 2 DESC
LIMIT 1;

**Question 3 of 3

Identify the top 5 users with the most queries in August 2024 by their first and last name. We want to interview our most active users and this information will be used in our outreach to these users.

In [ ]:
#This question wanna know most top 5 queries in August 2024
SELECT d.first_name,
  d.last_name
FROM fct_queries f
JOIN dim_users d ON f.user_id = d.user_id
WHERE (query_timestamp::DATE BETWEEN '2024-08-01' AND '2024-08-31')
GROUP BY 1, 2
ORDER BY COUNT(f.query_id) DESC
LIMIT 5;